.formContainer {
  position: relative;
  display: inline-block;
}

.submittedMessage {
  display: none;
}

.submittedMessage::before {
  content: '\2713'; /* Unicode checkmark character */
  font-size: 24px;
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
